.header {
    color: var(--white);
    background: var(--color-back);
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    display: flex;
}

.headerTitle>a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: var(--font-brush);
    font-size: 10px;
    font-weight: 400;
}

.headerTitle>a>h1 {
    margin-top: 11px;
    margin-left: 15px;

}

.headerNav>nav>ul>li {
    margin-left: 1rem;
    margin-bottom: 15px;
}


.headerNav>nav>ul>li>a {
    color: var(--white);
    font-family: var(--font);
    font-size: 15px;
    text-decoration: none;
    transition: color .3s ease-in-out;
}

.headerNav>nav>ul>li>a[aria-current] {
    color: var(--color-primary);
}

.headerNav>nav>ul>li>:after {
    content: "";
    width: 0;
    height: 2px;
    background: var(--color-primary);
    transition: width .3s;
    display: block;
}

.headerNav>nav>ul>li>:hover:after {
    width: 100%;
}

.headerNav>nav>ul>li>:hover {
    color: var(--color-primary);
}

.chevronUp {
    font-size: 15px;
    margin-left: 10px;
    padding-top: 4px;
    transition: all .3s ease-in-out;
}

.chevronDown {
    color: var(--color-primary);
    font-size: 15px;
    margin-left: 10px;
    padding-bottom: 2px;
    transition: all .3s ease-in-out;
}


.menu {
    height: 100vh;
    background-color: var(--color-back);
    z-index: 2;
    padding: 6rem;
    list-style: none;
    position: fixed;
    transform: translateX(100%);
    transition: all .5s ease-in-out;
}

.show {
    height: 100vh;
    background-color: var(--color-back);
    z-index: 2;
    padding: 6rem;
    list-style: none;
    position: fixed;
    top: 91px;
    right: 0;
    transform: translateX(0%);
    transition: all .5s ease-in-out;
}

.burger {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.icon,
.close {
    color: var(--color-primary);
    font-size: 28px;
    cursor: pointer;
    z-index: 1000;
    margin-top: 5px;
    position: absolute;
    right: 1rem;
}


@media screen and (min-width: 900px) {

    .headerNav>nav>ul {
        margin: 0;
        padding: 10px;
        padding-top: 22px;
        list-style: none;
    }

    .headerNav>nav>ul>li {
        margin-left: 2rem;
        display: inline-block;
        margin-bottom: 0;
    }

    .burger {
        display: none;
    }


    .menu {
        width: 100%;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        display: flex;
        position: static;
        transform: translateX(0);
    }
}