@import "https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap";
@import "https://fonts.googleapis.com/css2?family=Cardo&display=swap";

:root {
    --color-primary: #F9AC66;
    --color-secondary: #ed6b5b;
    --color-back: #165954;
    --white: #f5f5f5;
    --text-color: #000000;
    --font: "Cardo", serif;
    --font-brush: 'Alex Brush', cursive;
}


* {
    box-sizing: border-box;
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

::-webkit-scrollbar {
    display: none;
}

body {
    color: var(--text-color);
    background-color: var(--white);
    flex-direction: column;
    font-family: Cardo, serif;
    line-height: 1.7;
    display: flex;
}

a {
    color: var(--white);
    text-decoration: none;
}