.containerHebergement {
    grid-gap: 2rem;
    max-width: 1200px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "img content";
    margin: 0 auto;
    padding: 1rem;
    display: grid;
}

@media screen and (max-width: 920px) {
    .containerHebergement {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "content"
            "img";
        /* padding: 3rem; */
    }
}

.imgRoulotte {
    height: 500px;
    border-radius: 5px;
    grid-area: img;
    overflow: hidden;
    box-shadow: 0 0 10px #0003;
    overflow: hidden;
}

.imgRoulotte>img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}

.contentRoulotte {
    height: 500px;
    border-radius: 5px;
    grid-area: content;
    padding: 2rem;
    box-shadow: 0 50px 100px -20px #32325d40, 0 30px 60px -30px #0000004d, inset 0 -2px 6px #0a254059;
}

@media screen and (max-width:456px) {
    .contentRoulotte {
        height: auto;
    }
}


.contentRoulotte>h1 {
    color: var(--color-primary);
    margin-bottom: 1rem;
    font-family: var(--font);
    font-size: 2.5rem;
}

@media screen and (max-width:1000px) {
    .contentRoulotte>h1 {
        font-size: 2rem;
    }
}

.contentRoulotte>p {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 200;
    line-height: 30px;
}

.contentRoulotte>p>a {
    color: var(--white);
    background-color: var(--color-secondary);
    border-radius: 5px;
    padding: .5rem 1rem;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.contentRoulotte>p>a:hover {
    color: var(--color-primary);
    background-color: #ea4b36;
}